/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Orange: hsl(25, 97%, 53%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light Grey: hsl(217, 12%, 63%)
- Medium Grey: hsl(216, 12%, 54%)
- Dark Blue: hsl(213, 19%, 18%)
- Very Dark Blue: hsl(216, 12%, 8%)

## Typography

### Body Copy

- Font size (paragraph): 15px

### Font

- Family: [Overpass](https://fonts.google.com/specimen/Overpass)
- Weights: 400, 700 */

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Body {
  min-height: 100vh;
  min-height: 100vh;
  background-color: var(--Very-Dark-Blue);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Container {
  padding: 24px 24px;
  background-color: var(--White);
  height: 360px;
  width: 327px;

  background: radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%);
  border-radius: 30px;
}

.Oval {
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background-color: var(--Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}


.Title {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30.38px;

  /* Pure White */

  color: var(--White);
  margin-bottom: 10px;
}

.Detail {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  /* or 157% */


  /* Light Grey */

  color: var(--Light-Grey);

  margin-bottom: 24px;
}

.Sort-Number {
  display: flex;
  justify-content: space-between;

  margin-bottom: 24px;
}

.ItemNumber {
  height: 42px;
  width: 42px;

  background: var(--Dark-Blue);
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  /* text */
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  /* text-align: center;
  letter-spacing: 0.175px; */

  /* Medium Gray */

  color: #7C8798;
  cursor: pointer;
}

.SelectNumber {
  /* Rating */
  height: 42px;
  width: 42px;
  border-radius: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.2px;

  /* Pure White */

  color: var(--White);
  background: #7C8798;
}

.ItemNumber:hover {
  color: var(--White);
  background: var(--Orange);
}

.Submit-Btn {
  background: var(--Orange);
  height: 45px;
  width: 279px;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.86667px;

  /* Pure White */

  color: var(--White);

  cursor: pointer;
}

.Submit-Btn:hover {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.86667px;

  /* Orange */

  color: var(--Orange);
  background: var(--White);
}

.ContainerThankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Illustration-Thank-You {
  margin-bottom: 24px;
}

.Display-Selected {
  background: var(--Dark-Blue);
  border-radius: 22.5px;
  padding: 5px 12px;
  margin-bottom: 24px;
  /* text */
  color: var(--Orange);
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;


}

.Title-ThankYou {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--White);
  margin-bottom: 10px;
}

.Text-Detail {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  color: var(--Light-Grey);
}

@media only screen and (min-width: 376px) {
  .Container {
    padding: 32px;
    height: 416px;
    width: 412px;
  }

  .Oval {
    height: 48px;
    width: 48px;
    margin-bottom: 30px;
  }


  .Title {
    font-size: 28px;
    line-height: 35px;

    /* Pure White */
    margin-bottom: 7px;
  }

  .Detail {
    font-size: 15px;
    line-height: 24px;
    /* or 157% */


    /* Light Grey */

    color: var(--Light-Grey);
    margin-bottom: 24px;
  }

  .Sort-Number {
    margin-bottom: 32px;
  }

  .ItemNumber {
    height: 51px;
    width: 51px;



    /* text */
    font-size: 16px;
    /* identical to box height, or 171% */

    /* text-align: center;
    letter-spacing: 0.175px; */

    /* Medium Gray */

    color: #7C8798;
    cursor: pointer;
  }

  .SelectNumber {
    /* Rating */
    height: 51px;
    width: 51px;
   
    font-size: 16px;
   
  }

  .ItemNumber:hover {
    color: var(--White);
    background: var(--Orange);
  }

  .Submit-Btn {
    background: var(--Orange);
    height: 45px;
    width: 341px;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .Submit-Btn:hover {
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 2px;
  }

  .Illustration-Thank-You {
    margin-bottom: 32px;
  }

  .Display-Selected {
    padding: 4px 20px;
    margin-bottom: 36px;
    /* text */
    font-size: 15px;
    line-height: 24px;


  }

  .Title-ThankYou {
    font-size: 28px;
    line-height: 35px;
    margin-bottom: 7px;
  }

  .Text-Detail {
    font-size: 15px;
    line-height: 160%;
  }
}